{% extends "base.html" %}

{% block main %}
{%if not created%}

<div class="container pt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h3>Données d'entrainement</h3>
            <form action="." method="POST" id="post-form">
                {% csrf_token %}
                {{form.as_p}}    
                <button type="submit" value="Submit" class="btn btn-primary">Ajouter</button>
            </form>
        </div>
    </div>
</div>

{% else %}
<div class="container pt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <p>Dataset ajouté</p>
            <button onclick="window.location.href=''" class="btn btn-primary">Ajouter un autre dataset</button>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}

